<md-content class="md-padding">
    <form name="userForm">
        <label>User: </label>
        <md-select ng-model="groupMember.user_id" placeholder="Select User">
                <md-option ng-value="user.id" ng-repeat="user in users | orderBy:'fullname'">{{user.fullname}}</md-option>               
        </md-select>
        <br>
        <label>Group: </label>
        <md-select ng-model="groupMember.group_id" placeholder="Select Group">
                <md-option ng-value="group.id" ng-repeat="group in groups | orderBy:'name'">{{group.name}}</md-option>               
        </md-select>
    </form>
    
    <div layout layout-sm="column">
        <md-input-container flex>
          <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
        </md-input-container>
        <md-input-container flex>
          <md-button class="md-raised md-warn" ng-if="!isNew" ng-click="delete()">Delete</md-button>
        </md-input-container>
    </div>
  </md-content>