<div>
    <md-input-container style="width: 300px;">
          <label>Filter Data</label>
          <input ng-model="filter">
    </md-input-container>
    <md-button class="md-warn md-raised" ng-click = "go('')">Add Group Member</md-button>
    <md-divider></md-divider>
    <table class="md-table">
        <thead>
          <tr class="md-table-headers-row">
              <th class="md-table-header">ID</th>
              <th class="md-table-header">User ID</th>
              <th class="md-table-header">User Name</th>
              <th class="md-table-header">Group ID</th>
              <th class="md-table-header">Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="gm in groupMembers | filter : filter" class="md-table-content-row" ng-click = "go(gm.id)">
              <td class="md-table-content">{{gm.id}}</td>
              <td class="md-table-content">{{gm.user_id}}</td>
              <td class="md-table-content">{{gm.user = findUser(gm.user_id)[0].fullname; gm.user}}</td>
              <td class="md-table-content">{{gm.group_id}}</td>
              <td class="md-table-content">{{gm.group = findGroup(gm.group_id)[0].name; gm.group}}</td>
          </tr>
        </tbody>
    </table>
</div>
