<div>
    <md-input-container style="width: 300px;">
          <label>Filter Data</label>
          <input ng-model="filter">
    </md-input-container>
    <!--md-button class="md-warn md-raised" ng-click = "go('')">Create New Group</md-button-->
    <md-divider></md-divider>
    <table class="md-table">
        <thead>
          <tr class="md-table-headers-row">
              <th class="md-table-header">ID</th>
              <th class="md-table-header">Evaluator ID</th>
              <th class="md-table-header">Evaluator Name</th>
              <th class="md-table-header">Evaluatee ID</th>
              <th class="md-table-header">Evaluatee Name</th>
              <th class="md-table-header">Group ID</th>
              <th class="md-table-header">Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="me in memberEvaluations | filter:filter" class="md-table-content-row" ng-click = "go(me.id)">
              <td class="md-table-content">{{me.id}}</td>
              <td class="md-table-content">{{me.evaluator_id}}</td>
              <td class="md-table-content">{{me.evaluator = findUser(me.evaluator_id)[0].fullname; me.evaluator}}</td>
              <td class="md-table-content">{{me.evaluatee_id}}</td>
              <td class="md-table-content">{{me.evaluatee = findUser(me.evaluatee_id)[0].fullname; me.evaluatee}}</td>
              <td class="md-table-content">{{me.groups_id}}</td>
              <td class="md-table-content">{{me.group = findGroup(me.groups_id)[0].name; me.group}}</td>
          </tr>
        </tbody>
    </table>
</div>
