<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:./production.db</property>
        <property name="connection.pool_size">1</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.max_size">5</property>

        <mapping class="org.orm.entities.Course"/>
        <mapping class="org.orm.entities.User"/>
        <mapping class="org.orm.entities.Group"/>
        <mapping class="org.orm.entities.GroupMember"/>
        <mapping class="org.orm.entities.EvaluationStage"/>
        <mapping class="org.orm.entities.MemberEvaluation"/>
        <mapping class="org.orm.entities.GroupEvaluation"/>

    </session-factory>  
  
</hibernate-configuration>