<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>        
        <property name="connection.url">jdbc:mysql://163.118.135.60:3306/evaluations?autoReconnect=true</property>
        <property name="connection.username">gallagher</property>
        <property name="connection.password">ULjfM8vj4JulcpfzxBWS</property>
    	<property name="show_sql">false</property>

        <!--connection pool-->
        <property name="hibernate.dbcp.maxActive">10</property>
        <property name="hibernate.dbcp.whenExhaustedAction">1</property>
        <property name="hibernate.dbcp.maxWait">20000</property>
        <property name="hibernate.dbcp.maxIdle">10</property>

        <!-- prepared statement cache-->
        <property name="hibernate.dbcp.ps.maxActive">10</property>
        <property name="hibernate.dbcp.ps.whenExhaustedAction">1</property>
        <property name="hibernate.dbcp.ps.maxWait">20000</property>
        <property name="hibernate.dbcp.ps.maxIdle">10</property>

        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>


        <mapping class="org.orm.entities.Course"/>
        <mapping class="org.orm.entities.User"/>
        <mapping class="org.orm.entities.Group"/>
        <mapping class="org.orm.entities.GroupMember"/>
        <mapping class="org.orm.entities.EvaluationStage"/>
        <mapping class="org.orm.entities.MemberEvaluation"/>
        <mapping class="org.orm.entities.GroupEvaluation"/>

    </session-factory>  
  
</hibernate-configuration>