.title{
    cursor: pointer;
}

.title:hover{
    color:#ccc;
    text-decoration: underline;
}

.accordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accordion h4 {
	margin: 0 0 0.3em;
	padding: 0.5em 1em 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 1.5em;
	font-weight: 300;
	color: rgb(63,81,181);
    cursor: pointer;
}