<md-content class="md-padding">
    <form name="userForm">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Code</label>
          <input ng-model="course.code">
        </md-input-container>
        <md-input-container flex>
          <label>Title</label>
          <input ng-model="course.title">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Term</label>
          <input ng-model="course.term">
        </md-input-container>
        <md-input-container flex>
          <label>Year</label>
          <input type="number" ng-model="course.year">
        </md-input-container>
      </div>
    </form>
    
    <div layout layout-sm="column">
        <md-input-container flex>
          <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
        </md-input-container>
        <md-input-container flex>
          <md-button class="md-raised md-warn" ng-if="!isNew" ng-click="delete()">Delete</md-button>
        </md-input-container>
    </div>
  </md-content>