<div>
    <md-input-container style="width: 300px;">
          <label>Filter Data</label>
          <input ng-model="filter">
    </md-input-container>
    <md-button class="md-warn md-raised" ng-click = "go('')">Add New Course</md-button>
    <md-divider></md-divider>
    <table class="md-table">
        <thead>
          <tr class="md-table-headers-row">
              <th class="md-table-header">ID</th>
              <th class="md-table-header">Code</th>
              <th class="md-table-header">Title</th>
              <th class="md-table-header">Term</th>
              <th class="md-table-header">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in courses | filter:filter | orderBy:c.code" class="md-table-content-row" ng-click = "go(c.id)">
              <td class="md-table-content">{{c.id}}</td>
              <td class="md-table-content">{{c.code}}</td>
              <td class="md-table-content">{{c.title}}</td>
              <td class="md-table-content">{{c.term}}</td>
              <td class="md-table-content">{{c.year}}</td>
          </tr>
        </tbody>
    </table>
</div>
