<md-content class="md-padding">
    
    <table class="md-table">
        <tbody>
            <tr class="md-table-content-row">
                <td class="md-table-content">Goals: </td>
                <td class="md-table-content">{{groupEvaluation.goals}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Goals Details: </td>
                <td class="md-table-content">{{groupEvaluation.goals_details}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Openness: </td>
                <td class="md-table-content">{{groupEvaluation.openness}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Openness Details: </td>
                <td class="md-table-content">{{groupEvaluation.openness_details}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Mutual Trust: </td>
                <td class="md-table-content">{{groupEvaluation.mutual_trust}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Mutual Trust Details: </td>
                <td class="md-table-content">{{groupEvaluation.mutual_trust_details}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Difference Attitude: </td>
                <td class="md-table-content">{{groupEvaluation.difference_attitude}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Difference Attitude Details: </td>
                <td class="md-table-content">{{groupEvaluation.difference_attitude_details}}</td>
            </tr>
            
            
            <tr class="md-table-content-row">
                <td class="md-table-content">Support: </td>
                <td class="md-table-content">{{groupEvaluation.support}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Support Details: </td>
                <td class="md-table-content">{{groupEvaluation.support_details}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Participation: </td>
                <td class="md-table-content">{{groupEvaluation.participation}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Participation Details: </td>
                <td class="md-table-content">{{groupEvaluation.participation_details}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Decision Making: </td>
                <td class="md-table-content">{{groupEvaluation.decision_making}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Decision Making Details: </td>
                <td class="md-table-content">{{groupEvaluation.decision_making_details}}</td>
            </tr>



            <tr class="md-table-content-row">
                <td class="md-table-content">Flexibility: </td>
                <td class="md-table-content">{{groupEvaluation.flexibility}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Flexibility Details: </td>
                <td class="md-table-content">{{groupEvaluation.flexibility_details}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Resource Use: </td>
                <td class="md-table-content">{{groupEvaluation.resource_use}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Resource Use Details: </td>
                <td class="md-table-content">{{groupEvaluation.resource_use_details}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Grade: </td>
                <td class="md-table-content">{{groupEvaluation.grade}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Percentage: </td>
                <td class="md-table-content">{{groupEvaluation.percentage}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Evaluation Stage: </td>
                <td class="md-table-content">{{evaluationStage.name}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Evaluator: </td>
                <td class="md-table-content">{{evaluator.fullname}}</td>
            </tr>


            <tr class="md-table-content-row">
                <td class="md-table-content">Group: </td>
                <td class="md-table-content">{{group.name}}</td>
            </tr>
            
        </tbody>
    </table>
    
    <md-input-container flex>
        <md-button class="md-raised md-warn" ng-click="delete()">Delete</md-button>
    </md-input-container>
</md-content>