<div>
    <md-input-container style="width: 300px;">
          <label>Filter Data</label>
          <input ng-model="filter">
    </md-input-container>
    <md-button class="md-warn md-raised" ng-click = "go('')">Create New User</md-button>
    <md-divider></md-divider>
    <table class="md-table">
        <thead>
          <tr class="md-table-headers-row">
              <th class="md-table-header">ID</th>
              <th class="md-table-header">Name</th>
              <th class="md-table-header">Email</th>
              <th class="md-table-header">Is Inspector</th>
              <th class="md-table-header">Need Password Reset</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in users | filter:filter" class="md-table-content-row" ng-click = "go(u.id)">
            <td class="md-table-content">{{u.id}}</td>
            <td class="md-table-content">{{u.fullname}}</td>
            <td class="md-table-content">{{u.email}}</td>
            <td class="md-table-content"><md-checkbox ng-model="u.is_inspector" ng-disabled></md-checkbox></td>
            <td class="md-table-content"><md-checkbox ng-model="u.need_password_reset"></md-checkbox></td>
          </tr>
        </tbody>
    </table>

</div>
